body {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 14px;
}

/* global css */

/* header section start */
.header {
  width: 100%;
  background: url('../images/bg.png') no-repeat center top;
  background-size: cover;
}

/* navber section */
.header .navbar {
  padding: 20px 0 0 0;
}
.header .navbar .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.header .navbar .navbar-nav .nav-item .nav-link:hover {
  background: url('../images/line.png') center bottom no-repeat;
}
.header .navbar .navbar-nav .nav-item .nav-link:focus {
  background: url('../images/line.png') center bottom no-repeat;
}
.header .navbar .navbar-nav .nav-item .active {
  background: url('../images/line.png') center bottom no-repeat;
}

/* banner section */
.header .banner {
  padding: 80px 0 150px 0;
}

.header .banner .title {
  text-align: left;
}

.header .banner .title h5 {
  color: #008ed6;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 40px 0 16px 0;
}
.header .banner .title h1 {
  color: #fff;
  font-size: 47px;
  font-weight: 500;
  line-height: 1.2;
  margin: 0px 0 16px 0;
}
.header .banner .title p {
  width: 35%;
  font-size: 16px;
  font-weight: 400;
  color: #79797b;
  line-height: 1.7;
  margin: 0px 0 50px 0;
}

/* btn styles here */
.header .banner .btn {
  margin: 0 auto;
}

.header .banner .btn-primary {
  color: #fff;
  background-color: #008ed6;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid #008ed6;
  border-radius: 3px;
  padding: 12px 20px;
}

.header .banner .btn-primary:hover {
  color: #008ed6;
  background-color: transparent;
}

.header .banner .btn-primary:focus {
  color: #008ed6;
  background-color: transparent;
}

.header .banner .btn-secondary {
  border: 1px solid #6c757d;
  border-radius: 3px;
  color: #fff;
  background: transparent;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 12px 25px;
  margin: 0 0 0 15px;
}

.header .banner .btn-secondary:hover {
  color: #fff;
  background-color: #008ed6;
  border: 1px solid #008ed6;
}

.header .banner .btn-secondary:focus {
  color: #fff;
  background-color: #008ed6;
  border: 1px solid #008ed6;
}
/* headaer section end */

/* feature section start */
/* feature top  */
.feature .feature-top {
  border-bottom: 1px solid #ededed;
  padding: 80px 0 80px 0;
}

.feature .feature-top .title {
  text-align: center;
  margin: 0 0 80px;
}

.feature .feature-top .title h5 {
  color: #008ed6;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 10px 0;
}

.feature .feature-top .title h2 {
  margin: 0 0 16px 0;
}

.feature .feature-top .features .feature-box-content {
  text-align: center;
}

.feature .feature-top .features .feature-box-content h5 {
  font-size: 22px;
  font-weight: 400;
  margin: 25px 0 10px 0;
}

.feature .feature-top .features .feature-box-content p {
  color: #b4b4b4;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 16px 0;
}

/* feature middle */
.feature .feature-middle {
  padding: 80px 0 40px;
}

.feature .feature-middle .feature-middle-text .title h5 {
  color: #008ed6;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 80px 0 16px 0;
}
.feature .feature-middle .feature-middle-text p {
  color: #b4b4b4;
  font-size: 16px;
  font-weight: 400;
  width: 70%;
  margin: 15px 0 25px 0;
}

.feature .feature-middle .feature-middle-text ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.feature .feature-middle .feature-middle-text ul li {
  margin: 0 0 8px 0;
}
.feature .feature-middle .feature-middle-text ul li span {
  margin: 0 0 0 10px;
}

.feature .feature-middle .feature-middle-text {
  padding: 0 0 80px;
}
/* feature bottom */
.feature .feature-bottom {
  padding: 40px 0 0;
  background-color: #f2f2f2;
}

.feature .feature-bottom .feature-bottom-text {
  padding: 40px 0 80px;
}

.feature .feature-bottom .feature-bottom-text .title h5 {
  color: #008ed6;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 40px 0 10px 0;
}

.feature .feature-bottom .feature-bottom-text p {
  color: #b4b4b4;
  font-size: 16px;
  font-weight: 400;
  width: 75%;
}
/* feature section end */

/* testimonial section start */

.testimonial {
  background: url('../images/t-bgimg.png') no-repeat center top;
  background-size: cover;
  padding: 80px 0;
}
.testimonial .title {
  padding: 0 0 80px;
  text-align: center;
  color: #fff;
}
.testimonial .title h5 {
  color: #008ed6;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 10px 0;
}

.testimonial .owl-carousel .item p {
  color: #fff;
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  /* padding: 0px 0 15px 0; */
}
.testimonial .owl-carousel .item .inner-item {
  display: flex;
  justify-content: flex-start;
}

.testimonial .owl-carousel .item .inner-item img {
  width: 50px;
  height: 50px;
  margin: 0 20px 0 0;
}

.testimonial .owl-carousel .item .inner-item p {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  margin: 10px 0 0;
}

.testimonial .owl-carousel .item .inner-item p span {
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  margin: 10px 0 0;
}

.testimonial .owl-theme .owl-nav.disabled + .owl-dots {
  margin: 80px 0 0 0;
}

.testimonial .owl-theme .owl-dots .owl-dot span {
  background: transparent;
  border: 1px solid #fff;
}

.testimonial .owl-theme .owl-dots .owl-dot.active span,
.testimonial .owl-theme .owl-dots .owl-dot:hover span {
  width: 14px;
  height: 14px;
  background: #fff;
  position: relative;
  bottom: -1px;
}
/* testimonial section end */

/* t-footer section start */
.t-footer {
  color: #fff;
  background-color: #000;
  padding: 40px 0;
}

.t-footer p {
  display: inline-block;
  font-size: 28px;
  font-weight: 300;
  margin: 2px 0 0;
}

.t-footer p span {
  font-weight: 600;
}

.t-footer .t-footer-btn {
  display: inline;
  float: right;
}

.t-footer .t-footer-btn .btn-primary {
  color: #fff;
  background-color: #008ed6;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  border: 1px solid #008ed6;
  border-radius: 3px;
  padding: 12px 20px;
}

.t-footer .t-footer-btn .btn-primary:hover {
  color: #008ed6;
  background-color: transparent;
}

.t-footer .t-footer-btn .btn-primary:focus {
  color: #008ed6;
  background-color: transparent;
}

.t-footer .t-footer-btn .btn-secondary {
  border: 1px solid #6c757d;
  border-radius: 3px;
  color: #fff;
  background: transparent;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 12px 35px;
  margin: 0 15px 0 0;
}

.t-footer .t-footer-btn .btn-secondary:hover {
  color: #fff;
  background-color: #008ed6;
  border: 1px solid #008ed6;
}

.t-footer .t-footer-btn .btn-secondary:focus {
  color: #fff;
  background-color: #008ed6;
  border: 1px solid #008ed6;
}
/* t-footer section end */

/* pricing section start */
.pricing {
  padding: 80px 0;
}
.pricing .title {
  text-align: center;
  margin: 0 0 80px;
}
.pricing .title h5 {
  color: #008ed6;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 16px;
}

/* .pricing .inner-pricing {
  display: flex;
  justify-content: space-between;
} */

.pricing .inner-pricing .priceTag {
  text-align: center;
  border: 1px solid #e0e0e0;
  width: 230px;
  height: 410px;
  margin: 0 auto;
}

.pricing .priceTag:not(:last-child) {
  margin: 0 25px 0 0;
}

.pricing .priceTag .priceHead h4 {
  font-size: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid #e0e0e0;
  padding: 12px 0;
  margin: 0;
}

.pricing .priceTag .price p:not(:last-child) {
  font-size: 50px;
  padding: 28px 0 0;
  margin: 0px;
}

.pricing .priceTag .price sup {
  font-size: 20px;
  position: relative;
  top: -20px;
}

.pricing .priceTag .price p:not(:first-child) {
  font-size: 16px;
  color: #999999;
  font-weight: 400;
  padding: 0px 0 28px;
  border-bottom: 1px solid #e0e0e0;
}

.pricing .priceTag .priceText p {
  font-size: 16px;
  color: #999999;
  font-weight: 400;
  padding: 20px 14px 20px;
}
.pricing .priceTag .priceText span {
  color: #44ace1;
}

.pricing .priceTag .priceText a {
  color: #008ed6;
  background: transparent;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  padding: 12px 25px;
  margin: 5px 0 25px;
}

.pricing .inner-pricing .priceTag:hover .price,
.pricing .inner-pricing .priceTag:hover .btn-primary,
.pricing .inner-pricing .priceTag:hover .price p:not(:first-child) {
  color: #fff;
  background-color: #008ed6;
}

.pricing .inner-pricing .priceTag:hover .priceHead {
  color: #008ed6;
}
/* pricing section end */

/* contact section start */
.contact {
  background: #ededed;
  padding: 80px 0;
}

.contact .title {
  text-align: center;
  margin: 0 0 80px;
}

.contact .title h5 {
  color: #008ed6;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 16px 0;
}

.contact .contactAddress {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.contact .contactAddress .address p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  color: #999999;
  margin: 20px 0 0;
}

.contact .contactAddress .address .envelop {
  position: relative;
  top: 5px;
}

/* form section start */
.contact .form {
  position: relative;
  bottom: -150px;
}
.contact .inner-form {
  padding: 50px 50px 30px 50px;
  background: #000;
}

.contact .form .inner-form .form-control {
  background: black;
  color: #444348;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 12px 20px;
  border: 2px solid #444348;
  border-radius: 3px;
}

.contact .form .inner-form input {
  margin: 0 0 25px 0;
}

.contact .form .btn-primary {
  color: #fff;
  background: #008ed6;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  padding: 12px 20px;
  margin: 25px 0 0 0;
  float: right;
  border-radius: 3px;
}
/* form section end */
/* contact section end */

.iframe {
  position: absolute;
  z-index: 0;
}

/* footer section start */
.footer {
  background-color: #000;
  padding: 40px 0 20px;
}

.footer ul {
  padding: 0;
  margin: 0 0 16px 0;
  list-style: none;
  text-align: center;
}

.footer ul li {
  display: inline-block;
  margin: 0 16px;
}

.footer ul li a {
  color: #444348;
  font-size: 18px;
  text-decoration: none;
}

.footer ul li a:hover {
  color: #008ed6;
}

.footer ul li a:focus {
  color: #008ed6;
}

.footer ul li .active {
  color: #008ed6;
}

.footer p {
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  color: #444348;
  text-transform: uppercase;
}

/* footer section end */
